<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

	<extensions>
		<add assembly="Exceptionless.NLog"/>
	</extensions>
	<targets async="true" >
		<target xsi:type="File" name="info_file" maxArchiveDays="1" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}"/>
		<target xsi:type="File" name="error_file" fileName="${basedir}/logs/${shortdate}_error.log"
				layout="${longdate} ${uppercase:${level}} ${message} ${exception:stacktrace}" />
		<target xsi:type="Exceptionless"  name="Exceptionless" apiKey="52mkr7Cfk2vEthn12iULn5Xkfv7n4DpdIftyJJ4J"
		  serverUrl="http://127.0.0.1:8080/">
			<!--堆栈信息-->
			<field name="StackTrace" layout="${stacktrace}"/>
			<!--Message信息-->
			<field name="Message" layout="${message}"/>
			<field name="LogLevel" layout="${level}"/>
			<field name="CreateDate" layout="${date}"/>
			<!--物理名称-->
			<field name="MachineName" layout="${machinename}" />
			<!--线程ID-->
			<field name="ThreadId" layout="${threadid}"/>
			<!--发生源-->
			<field name="CallSite" layout="${callsite}"/>
			<field name="AppdomainVersion" layout="${assembly-version}"/>
			<field name="Appdomain" layout="${appdomain}"/> 
		</target>

	</targets>

	<!-- 输出规则 -->
	<rules>
		<logger name="file" minlevel="Debug" writeTo="info_file" />
		<!--<logger name="*" level="Info" writeTo="info_file" />
		<logger name="*" levels="Error" writeTo="info_file" />
		<logger name="*" level="Fatal" writeTo="info_file" />-->
		<logger name="ff" minlevel="Debug" writeTo="Exceptionless" />
		
	</rules>
</nlog>