################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Controltest/bin/Debug
/Controltest/obj/Debug
/.vs/HjmosControl
/WpfApp1/obj
/WpfApp2/obj
/HjmosControl/bin/Debug
/HjmosControl/obj/Debug
/WpfApp2/bin/Debug/netcoreapp3.1/WpfApp2.deps.json
/WpfApp2/bin/Debug/netcoreapp3.1/WpfApp2.dll
/WpfApp2/bin/Debug/netcoreapp3.1/WpfApp2.exe
/WpfApp2/bin/Debug/netcoreapp3.1/WpfApp2.pdb
/WpfApp2/bin/Debug/netcoreapp3.1/WpfApp2.runtimeconfig.dev.json
/WpfApp2/bin/Debug/netcoreapp3.1/WpfApp2.runtimeconfig.json
/src/HjmosControl/bin
/src/HjmosControl/obj
/Tests/Controltest/bin
/Tests/Controltest/obj
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/ToggleButton.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/TextBox.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/TextBlock.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Style.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Slider.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/ScrollViewer.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/RunningBlock.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/RepeatButton.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/PasswordBox.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/NumericUpDown.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Loading.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/ListBox.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/ItemsControl.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Growl.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/GroupBox.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/FloatingBlock.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Drawer.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Divider.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/ColorPicker.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Card.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Button.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/ToggleButtonBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/TextBoxBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/TextBlockBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/SliderBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/ScrollViewerBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/RunningBlockBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/RepeatButtonBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/PasswordBoxBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/NumericUpDownBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/LoadingLineBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/LoadingCircleBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/LoadingBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/ListBoxBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/GroupBoxBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/DrawerBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/DividerBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/ColorPickerBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/CardBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/ButtonBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/ButtonBaseBaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Styles/Base/BaseStyle.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/SkinDefault.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Generic.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Basic/Paths.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Basic/Geometries.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Basic/Fonts.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Basic/Effects.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Basic/Converters.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Basic/Colors/Colors.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Basic/Brushes.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Basic/Behaviors.baml
/src/Hjmos.BaseControls/obj/Debug/Themes/Basic/Basic.baml
/src/Hjmos.BaseControls/obj/Debug/Hjmos.BaseControls_MarkupCompile.lref
/src/Hjmos.BaseControls/obj/Debug/Hjmos.BaseControls_MarkupCompile.cache
/src/Hjmos.BaseControls/obj/Debug/Hjmos.BaseControls.Properties.Resources.resources
/src/Hjmos.BaseControls/obj/Debug/Hjmos.BaseControls.pdb
/src/Hjmos.BaseControls/obj/Debug/Hjmos.BaseControls.g.resources
/src/Hjmos.BaseControls/obj/Debug/Hjmos.BaseControls.dll
/src/Hjmos.BaseControls/obj/Debug/Hjmos.BaseControls.csproj.GenerateResource.cache
/src/Hjmos.BaseControls/obj/Debug/Hjmos.BaseControls.csproj.FileListAbsolute.txt
/src/Hjmos.BaseControls/obj/Debug/Hjmos.BaseControls.csproj.CoreCompileInputs.cache
/src/Hjmos.BaseControls/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/src/Hjmos.BaseControls/obj/Debug/GeneratedInternalTypeHelper.g.cs
/src/Hjmos.BaseControls/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/src/Hjmos.BaseControls/bin/Debug/Hjmos.BaseControls.pdb
/src/Hjmos.BaseControls/bin/Debug/Hjmos.BaseControls.dll
/src/Hjmos.CommonControls/obj/Debug/UserControl1.g.i.cs
/src/Hjmos.CommonControls/obj/Debug/UserControl1.g.cs
/src/Hjmos.CommonControls/obj/Debug/UserControl1.baml
/src/Hjmos.CommonControls/obj/Debug/Hjmos.CommonControls_MarkupCompile.lref
/src/Hjmos.CommonControls/obj/Debug/Hjmos.CommonControls_MarkupCompile.cache
/src/Hjmos.CommonControls/obj/Debug/Hjmos.CommonControls.Properties.Resources.resources
/src/Hjmos.CommonControls/obj/Debug/Hjmos.CommonControls.pdb
/src/Hjmos.CommonControls/obj/Debug/Hjmos.CommonControls.g.resources
/src/Hjmos.CommonControls/obj/Debug/Hjmos.CommonControls.dll
/src/Hjmos.CommonControls/obj/Debug/Hjmos.CommonControls.csproj.GenerateResource.cache
/src/Hjmos.CommonControls/obj/Debug/Hjmos.CommonControls.csproj.FileListAbsolute.txt
/src/Hjmos.CommonControls/obj/Debug/Hjmos.CommonControls.csproj.CoreCompileInputs.cache
/src/Hjmos.CommonControls/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/src/Hjmos.CommonControls/bin/Debug/Hjmos.CommonControls.pdb
/src/Hjmos.CommonControls/bin/Debug/Hjmos.CommonControls.dll
/src/Hjmos.CommonControls/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Hjmos.CommonControls/obj/Debug/Hjmos.CommonControls_MarkupCompile.i.cache
/src/Hjmos.CommonControls/obj/Debug/Hjmos.CommonControls_MarkupCompile.i.lref
/src/Hjmos.CommonControls/obj/Debug/Controls/CCTVControl.baml
/src/Hjmos.CommonControls/obj/Debug/Controls/CCTVControl.g.i.cs
/src/Hjmos.CommonControls/obj/Debug/Controls/CCTVControl.g.cs
/src/Hjmos.BaseControls/obj/Debug/Hjmos.BaseControls.csprojAssemblyReference.cache
/src/Hjmos.CommonControls/obj/project.nuget.cache
/src/Hjmos.CommonControls/obj/project.assets.json
/src/Hjmos.CommonControls/obj/Hjmos.CommonControls.csproj.nuget.g.targets
/src/Hjmos.CommonControls/obj/Hjmos.CommonControls.csproj.nuget.g.props
/src/Hjmos.CommonControls/obj/Hjmos.CommonControls.csproj.nuget.dgspec.json
/src/Hjmos.CommonControls/obj/Debug/Resources/Generic.baml
/src/Hjmos.CommonControls/obj/Debug/Hjmos.CommonControls.csprojAssemblyReference.cache
/src/Hjmos.CommonControls/obj/Debug/Hjmos.CommonControls.csproj.CopyComplete
/src/Hjmos.CommonControls/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/src/Hjmos.CommonControls/obj/Debug/GeneratedInternalTypeHelper.g.cs
/src/Hjmos.CommonControls/obj/Debug/Controls/RollingNumberItem.g.i.cs
/src/Hjmos.CommonControls/obj/Debug/Controls/RollingNumberItem.g.cs
/src/Hjmos.CommonControls/obj/Debug/Controls/RollingNumberItem.baml
/src/Hjmos.CommonControls/obj/Debug/Controls/RollingNumber.g.i.cs
/src/Hjmos.CommonControls/obj/Debug/Controls/RollingNumber.g.cs
/src/Hjmos.CommonControls/obj/Debug/Controls/RollingNumber.baml
/src/Hjmos.CommonControls/bin/Debug/Vlc.DotNet.Forms.dll
/src/Hjmos.CommonControls/bin/Debug/Vlc.DotNet.Core.Interops.dll
/src/Hjmos.CommonControls/bin/Debug/Vlc.DotNet.Core.dll
/src/Hjmos.CommonControls/bin/Debug/System.ValueTuple.dll
/src/Hjmos.CommonControls/bin/Debug/Prism.pdb
/src/Hjmos.CommonControls/bin/Debug/Prism.dll
/src/Hjmos.CommonControls/bin/Debug/Newtonsoft.Json.dll
/src/Hjmos.CommonControls/bin/Debug/Hjmos.BaseControls.pdb
/src/Hjmos.CommonControls/bin/Debug/Hjmos.BaseControls.dll
/src/Hjmos.BaseControls/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Hjmos.CommonControls/obj/Debug/Controls/Unity3DControl.g.i.cs
/src/Hjmos.CommonControls/bin
/src/Hjmos.CommonControls/obj
/src/Hjmos.BaseControls/bin
/src/Hjmos.BaseControls/obj
/src/LiveCharts.WPF/obj/Debug/TooltipWithYAndPer.g.i.cs
/src/LiveCharts.WPF/obj/Debug/TooltipWithYAndPer.g.cs
/src/LiveCharts.WPF/obj/Debug/TooltipWithYAndPer.baml
/src/LiveCharts.WPF/obj/Debug/Themes/Weight/normal.baml
/src/LiveCharts.WPF/obj/Debug/Themes/Weight/light.baml
/src/LiveCharts.WPF/obj/Debug/Themes/Weight/bold.baml
/src/LiveCharts.WPF/obj/Debug/Themes/Size/s.baml
/src/LiveCharts.WPF/obj/Debug/Themes/Size/m.baml
/src/LiveCharts.WPF/obj/Debug/Themes/Size/l.baml
/src/LiveCharts.WPF/obj/Debug/Themes/Colors/white.baml
/src/LiveCharts.WPF/obj/Debug/Themes/Colors/metro.baml
/src/LiveCharts.WPF/obj/Debug/Themes/Colors/material.baml
/src/LiveCharts.WPF/obj/Debug/Themes/Colors/blue.baml
/src/LiveCharts.WPF/obj/Debug/Themes/Colors/black.baml
/src/LiveCharts.WPF/obj/Debug/Themes/base.baml
/src/LiveCharts.WPF/obj/Debug/LiveCharts.Wpf_MarkupCompile.lref
/src/LiveCharts.WPF/obj/Debug/LiveCharts.Wpf_MarkupCompile.cache
/src/LiveCharts.WPF/obj/Debug/LiveCharts.Wpf.Properties.Resources.resources
/src/LiveCharts.WPF/obj/Debug/LiveCharts.Wpf.pdb
/src/LiveCharts.WPF/obj/Debug/LiveCharts.Wpf.g.resources
/src/LiveCharts.WPF/obj/Debug/LiveCharts.Wpf.dll
/src/LiveCharts.WPF/obj/Debug/LiveCharts.WPF.csprojAssemblyReference.cache
/src/LiveCharts.WPF/obj/Debug/LiveCharts.WPF.csproj.GenerateResource.cache
/src/LiveCharts.WPF/obj/Debug/LiveCharts.WPF.csproj.FileListAbsolute.txt
/src/LiveCharts.WPF/obj/Debug/LiveCharts.WPF.csproj.CoreCompileInputs.cache
/src/LiveCharts.WPF/obj/Debug/LiveCharts.WPF.csproj.CopyComplete
/src/LiveCharts.WPF/obj/Debug/HeatColorRange.g.i.cs
/src/LiveCharts.WPF/obj/Debug/HeatColorRange.g.cs
/src/LiveCharts.WPF/obj/Debug/HeatColorRange.baml
/src/LiveCharts.WPF/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/src/LiveCharts.WPF/obj/Debug/GeneratedInternalTypeHelper.g.cs
/src/LiveCharts.WPF/obj/Debug/DefaultTooltipNoPer.g.i.cs
/src/LiveCharts.WPF/obj/Debug/DefaultTooltipNoPer.g.cs
/src/LiveCharts.WPF/obj/Debug/DefaultTooltipNoPer.baml
/src/LiveCharts.WPF/obj/Debug/DefaultTooltip.g.i.cs
/src/LiveCharts.WPF/obj/Debug/DefaultTooltip.g.cs
/src/LiveCharts.WPF/obj/Debug/DefaultTooltip.baml
/src/LiveCharts.WPF/obj/Debug/DefaultLegend.g.i.cs
/src/LiveCharts.WPF/obj/Debug/DefaultLegend.g.cs
/src/LiveCharts.WPF/obj/Debug/DefaultLegend.baml
/src/LiveCharts.WPF/obj/Debug/DefaultGeoMapTooltip.g.i.cs
/src/LiveCharts.WPF/obj/Debug/DefaultGeoMapTooltip.g.cs
/src/LiveCharts.WPF/obj/Debug/DefaultGeoMapTooltip.baml
/src/LiveCharts.WPF/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/src/LiveCharts.WPF/bin/Debug/LiveCharts.Wpf.XML
/src/LiveCharts.WPF/bin/Debug/LiveCharts.Wpf.pdb
/src/LiveCharts.WPF/bin/Debug/LiveCharts.Wpf.dll
/src/LiveCharts.WPF/bin/Debug/LiveCharts.pdb
/src/LiveCharts.WPF/bin/Debug/LiveCharts.dll
/src/LiveCharts/obj/Debug/LiveCharts.pdb
/src/LiveCharts/obj/Debug/LiveCharts.dll
/src/LiveCharts/obj/Debug/LiveCharts.csprojAssemblyReference.cache
/src/LiveCharts/obj/Debug/LiveCharts.csproj.FileListAbsolute.txt
/src/LiveCharts/obj/Debug/LiveCharts.csproj.CoreCompileInputs.cache
/src/LiveCharts/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/src/LiveCharts/bin/Debug/LiveCharts.xml
/src/LiveCharts/bin/Debug/LiveCharts.pdb
/src/LiveCharts/bin/Debug/LiveCharts.dll
/src/LiveCharts.WPF/obj/Debug/LiveCharts.Wpf_MarkupCompile.i.lref
/src/LiveCharts.WPF/obj/Debug/LiveCharts.Wpf_MarkupCompile.i.cache
/src/LiveCharts.WPF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/LiveCharts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Hjmos.CustomCharts/obj/Debug/Themes/Styles/OneDayPassengerFlowTrend.baml
/src/Hjmos.CustomCharts/obj/Debug/Themes/Generic.baml
/src/Hjmos.CustomCharts/obj/Debug/Hjmos.CustomCharts_MarkupCompile.lref
/src/Hjmos.CustomCharts/obj/Debug/Hjmos.CustomCharts_MarkupCompile.cache
/src/Hjmos.CustomCharts/obj/Debug/Hjmos.CustomCharts.Properties.Resources.resources
/src/Hjmos.CustomCharts/obj/Debug/Hjmos.CustomCharts.pdb
/src/Hjmos.CustomCharts/obj/Debug/Hjmos.CustomCharts.g.resources
/src/Hjmos.CustomCharts/obj/Debug/Hjmos.CustomCharts.dll
/src/Hjmos.CustomCharts/obj/Debug/Hjmos.CustomCharts.csproj.GenerateResource.cache
/src/Hjmos.CustomCharts/obj/Debug/Hjmos.CustomCharts.csproj.FileListAbsolute.txt
/src/Hjmos.CustomCharts/obj/Debug/Hjmos.CustomCharts.csproj.CoreCompileInputs.cache
/src/Hjmos.CustomCharts/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/src/Hjmos.CustomCharts/obj/Debug/GeneratedInternalTypeHelper.g.cs
/src/Hjmos.CustomCharts/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/src/Hjmos.CustomCharts/bin/Debug/Hjmos.CustomCharts.pdb
/src/Hjmos.CustomCharts/bin/Debug/Hjmos.CustomCharts.dll
/src/Hjmos.CustomCharts/obj/project.nuget.cache
/src/Hjmos.CustomCharts/obj/project.assets.json
/src/Hjmos.CustomCharts/obj/Hjmos.CustomCharts.csproj.nuget.g.targets
/src/Hjmos.CustomCharts/obj/Hjmos.CustomCharts.csproj.nuget.g.props
/src/Hjmos.CustomCharts/obj/Hjmos.CustomCharts.csproj.nuget.dgspec.json
/src/Hjmos.CustomCharts/obj/Debug/Themes/Styles/Style.baml
/src/Hjmos.CustomCharts/obj/Debug/Themes/Basic/Converters.baml
/src/Hjmos.CustomCharts/obj/Debug/Themes/Basic/Basic.baml
/src/Hjmos.CustomCharts/obj/Debug/Hjmos.CustomCharts_MarkupCompile.i.lref
/src/Hjmos.CustomCharts/obj/Debug/Hjmos.CustomCharts_MarkupCompile.i.cache
/src/Hjmos.CustomCharts/obj/Debug/Hjmos.CustomCharts.csprojAssemblyReference.cache
/src/Hjmos.CustomCharts/obj/Debug/Hjmos.CustomCharts.csproj.CopyComplete
/src/Hjmos.CustomCharts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Hjmos.CustomCharts/bin/Debug/Newtonsoft.Json.dll
/src/Hjmos.CustomCharts/bin/Debug/LiveCharts.xml
/src/Hjmos.CustomCharts/bin/Debug/LiveCharts.Wpf.xml
/src/Hjmos.CustomCharts/bin/Debug/LiveCharts.Wpf.pdb
/src/Hjmos.CustomCharts/bin/Debug/LiveCharts.Wpf.dll
/src/Hjmos.CustomCharts/bin/Debug/LiveCharts.pdb
/src/Hjmos.CustomCharts/bin/Debug/LiveCharts.dll
/src/Hjmos.CustomCharts/bin/Debug/Hjmos.BaseControls.pdb
/src/Hjmos.CustomCharts/bin/Debug/Hjmos.BaseControls.dll
/src/LiveCharts.WPF/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/src/Hjmos.CustomCharts/obj/Debug/Themes/Styles/AverageDailyPassengerFlowTop10.baml
/src/Hjmos.CustomCharts/bin/Debug/DynamicExpresso.Core.dll
/src/Hjmos.CustomCharts/bin/Debug/CalcBinding.dll
/src/Hjmos.CustomCharts/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/src/Hjmos.CustomCharts/obj/Debug/Themes/Styles/MoreDayPassengerFlowTrend.baml
/src/Hjmos.CustomCharts/bin/Debug/SharpVectors.Runtime.dll
/src/Hjmos.CustomCharts/bin/Debug/SharpVectors.Rendering.Wpf.dll
/src/Hjmos.CustomCharts/bin/Debug/SharpVectors.Rendering.Gdi.dll
/src/Hjmos.CustomCharts/bin/Debug/SharpVectors.Model.dll
/src/Hjmos.CustomCharts/bin/Debug/SharpVectors.Dom.dll
/src/Hjmos.CustomCharts/bin/Debug/SharpVectors.Css.dll
/src/Hjmos.CustomCharts/bin/Debug/SharpVectors.Core.dll
/src/Hjmos.CustomCharts/bin/Debug/SharpVectors.Converters.dll
/src/Hjmos.CustomCharts/obj/Debug/Themes/Styles/BigDataMonitor.baml
/src/Hjmos.CustomCharts/bin/Debug/x86/v8_context_snapshot.bin
/src/Hjmos.CustomCharts/bin/Debug/x86/swiftshader/libGLESv2.dll
/src/Hjmos.CustomCharts/bin/Debug/x86/swiftshader/libEGL.dll
/src/Hjmos.CustomCharts/bin/Debug/x86/snapshot_blob.bin
/src/Hjmos.CustomCharts/bin/Debug/x86/README.txt
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/zh-TW.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/zh-CN.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/vi.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/uk.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/tr.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/th.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/te.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/ta.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/sw.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/sv.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/sr.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/sl.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/sk.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/ru.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/ro.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/pt-PT.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/pt-BR.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/pl.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/nl.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/nb.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/ms.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/mr.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/ml.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/lv.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/lt.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/ko.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/kn.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/ja.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/it.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/id.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/hu.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/hr.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/hi.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/he.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/gu.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/fr.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/fil.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/fi.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/fa.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/et.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/es.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/es-419.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/en-US.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/en-GB.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/el.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/de.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/da.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/cs.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/ca.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/bn.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/bg.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/ar.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/locales/am.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/libGLESv2.dll
/src/Hjmos.CustomCharts/bin/Debug/x86/libEGL.dll
/src/Hjmos.CustomCharts/bin/Debug/x86/libcef.dll
/src/Hjmos.CustomCharts/bin/Debug/x86/icudtl.dat
/src/Hjmos.CustomCharts/bin/Debug/x86/devtools_resources.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/d3dcompiler_47.dll
/src/Hjmos.CustomCharts/bin/Debug/x86/chrome_elf.dll
/src/Hjmos.CustomCharts/bin/Debug/x86/cef_extensions.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/cef_200_percent.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/cef_100_percent.pak
/src/Hjmos.CustomCharts/bin/Debug/x86/CefSharp.XML
/src/Hjmos.CustomCharts/bin/Debug/x86/CefSharp.Wpf.XML
/src/Hjmos.CustomCharts/bin/Debug/x86/CefSharp.Wpf.pdb
/src/Hjmos.CustomCharts/bin/Debug/x86/CefSharp.Wpf.dll
/src/Hjmos.CustomCharts/bin/Debug/x86/CefSharp.pdb
/src/Hjmos.CustomCharts/bin/Debug/x86/CefSharp.dll
/src/Hjmos.CustomCharts/bin/Debug/x86/CefSharp.Core.xml
/src/Hjmos.CustomCharts/bin/Debug/x86/CefSharp.Core.pdb
/src/Hjmos.CustomCharts/bin/Debug/x86/CefSharp.Core.dll
/src/Hjmos.CustomCharts/bin/Debug/x86/CefSharp.BrowserSubprocess.pdb
/src/Hjmos.CustomCharts/bin/Debug/x86/CefSharp.BrowserSubprocess.exe
/src/Hjmos.CustomCharts/bin/Debug/x86/CefSharp.BrowserSubprocess.Core.pdb
/src/Hjmos.CustomCharts/bin/Debug/x86/CefSharp.BrowserSubprocess.Core.dll
/src/Hjmos.CustomCharts/bin/Debug/x86/cef.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/v8_context_snapshot.bin
/src/Hjmos.CustomCharts/bin/Debug/x64/swiftshader/libGLESv2.dll
/src/Hjmos.CustomCharts/bin/Debug/x64/swiftshader/libEGL.dll
/src/Hjmos.CustomCharts/bin/Debug/x64/snapshot_blob.bin
/src/Hjmos.CustomCharts/bin/Debug/x64/README.txt
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/zh-TW.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/zh-CN.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/vi.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/uk.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/tr.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/th.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/te.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/ta.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/sw.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/sv.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/sr.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/sl.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/sk.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/ru.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/ro.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/pt-PT.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/pt-BR.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/pl.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/nl.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/nb.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/ms.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/mr.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/ml.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/lv.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/lt.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/ko.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/kn.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/ja.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/it.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/id.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/hu.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/hr.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/hi.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/he.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/gu.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/fr.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/fil.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/fi.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/fa.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/et.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/es.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/es-419.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/en-US.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/en-GB.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/el.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/de.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/da.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/cs.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/ca.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/bn.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/bg.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/ar.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/locales/am.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/libGLESv2.dll
/src/Hjmos.CustomCharts/bin/Debug/x64/libEGL.dll
/src/Hjmos.CustomCharts/bin/Debug/x64/libcef.dll
/src/Hjmos.CustomCharts/bin/Debug/x64/icudtl.dat
/src/Hjmos.CustomCharts/bin/Debug/x64/devtools_resources.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/d3dcompiler_47.dll
/src/Hjmos.CustomCharts/bin/Debug/x64/chrome_elf.dll
/src/Hjmos.CustomCharts/bin/Debug/x64/cef_extensions.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/cef_200_percent.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/cef_100_percent.pak
/src/Hjmos.CustomCharts/bin/Debug/x64/CefSharp.XML
/src/Hjmos.CustomCharts/bin/Debug/x64/CefSharp.Wpf.XML
/src/Hjmos.CustomCharts/bin/Debug/x64/CefSharp.Wpf.pdb
/src/Hjmos.CustomCharts/bin/Debug/x64/CefSharp.Wpf.dll
/src/Hjmos.CustomCharts/bin/Debug/x64/CefSharp.pdb
/src/Hjmos.CustomCharts/bin/Debug/x64/CefSharp.dll
/src/Hjmos.CustomCharts/bin/Debug/x64/CefSharp.Core.xml
/src/Hjmos.CustomCharts/bin/Debug/x64/CefSharp.Core.pdb
/src/Hjmos.CustomCharts/bin/Debug/x64/CefSharp.Core.dll
/src/Hjmos.CustomCharts/bin/Debug/x64/CefSharp.BrowserSubprocess.pdb
/src/Hjmos.CustomCharts/bin/Debug/x64/CefSharp.BrowserSubprocess.exe
/src/Hjmos.CustomCharts/bin/Debug/x64/CefSharp.BrowserSubprocess.Core.pdb
/src/Hjmos.CustomCharts/bin/Debug/x64/CefSharp.BrowserSubprocess.Core.dll
/src/Hjmos.CustomCharts/bin/Debug/x64/cef.pak
/src/Hjmos.CustomCharts/bin/Debug/Vlc.DotNet.Forms.dll
/src/Hjmos.CustomCharts/bin/Debug/Vlc.DotNet.Core.Interops.dll
/src/Hjmos.CustomCharts/bin/Debug/Vlc.DotNet.Core.dll
/src/Hjmos.CustomCharts/bin/Debug/System.ValueTuple.dll
/src/Hjmos.CustomCharts/bin/Debug/Prism.pdb
/src/Hjmos.CustomCharts/bin/Debug/Prism.dll
/src/Hjmos.CustomCharts/bin/Debug/Hjmos.CommonControls.pdb
/src/Hjmos.CustomCharts/bin/Debug/Hjmos.CommonControls.dll
/src/Hjmos.CustomCharts/obj/Debug/Themes/Styles/DeviceAlarmBarChart.baml
/src/Hjmos.CustomCharts/obj/Debug/Themes/Styles/SectionPassengerFlowDistribution.baml
/src/Hjmos.CustomCharts/obj/Debug/Themes/Styles/EventStatisticsWithPieChart.baml
/src/LiveCharts/obj/Debug
/src/LiveCharts.WPF/obj/Debug
/src/Hjmos.CustomCharts/obj/Debug
/Tests/TestProject/obj
/Tests/TestProject/bin/Debug/net5.0
/Tests/ControltestTests/bin/Debug
/Tests/ControltestTests/obj
/.vs
/ConsoleApp1/bin/Debug/net6.0
/ConsoleApp1/obj
/RocketMQClient/bin/Debug/net6.0-windows
/RocketMQClient/obj
/Tests/Hjmos.MQProxy/bin
/Tests/Hjmos.MQProxy/obj
/WebView2Client/bin/Debug/net6.0-windows
/WebView2Client/obj
/Tests/AutoMapper/bin
/Tests/AutoMapper/obj
/Tests/GeneratorTest/bin
/Tests/GeneratorTest/obj
/src/Hjmos.CustomCharts/bin
/Tests/ConsoleApp2/bin/Debug/net6.0
/Tests/ConsoleApp2/obj
obj
/Tests/WpfApp1/bin/Debug/net6.0-windows
/Tests/BlankApp1/bin/Debug/net6.0-windows
/Tests/UpdateTest/bin/Debug/net6.0-windows
/Tests/TemplateDemo/bin/Debug/net6.0
/Tests/TrainDiagram/bin/Debug/net6.0-windows
/PrintWindow/bin/Debug/net6.0-windows
/Tests/SpeachDemo/bin/Debug/net6.0-windows
/Tests/ClassLibrary1/bin/Debug/net6.0
/Tests/WpfApp2/bin/Debug
/Tests/WpfApp2/WpfApp2/bin/Debug
/Tests/AppWindowDemo/bin/Debug
/PDFDemo/bin/Debug
/Tests/WpfApp3/bin/Debug/net6.0-windows
/Tests/RoslynDemo/bin/Debug/net6.0
/Tests/SourceGenerator/bin/Debug/netstandard2.0
/Tests/TaskDemo/bin/Debug/net6.0
/Tests/Drop/bin/Debug/net6.0-windows
/Tests/SignalRClient/bin/Debug/net6.0
*.dll
*.exe
*.pdb
/Tests/SignalRServer/bin/Debug/net6.0
/Tests/WorkflowDemo/bin/Debug/net6.0
/Tests/WpfWorkflowDemo/bin/Debug/net6.0-windows
/Demo/AppWindowDemo/bin/Debug
/Demo/AutoMapper/bin/Debug/net6.0
/Demo/BlankApp1/bin/Debug/net6.0-windows
/Demo/ClassLibrary1/bin/Debug/net6.0
/Demo/ConsoleApp1/bin/Debug/net6.0
/Demo/ConsoleApp2/bin/Debug/net6.0
/Demo/Controltest/bin/Debug
/Demo/ControltestTests/bin/Debug
/Demo/GeneratorTest/bin/Debug/net6.0
/Demo/Hjmos.MQProxy/bin/Debug
/Demo/Hjmos.MQProxy/bin/Release
/Demo/PDFDemo/bin/Debug
/Demo/PrintWindow/bin/Debug/net6.0-windows
/Demo/RocketMQClient/bin/Debug/net6.0-windows
/Demo/RoslynDemo/bin/Debug/net6.0
/Demo/SignalRClient/bin/Debug/net6.0
/Demo/RoslynDemo/IUser.cs
/Demo/SignalRServer/bin/Debug/net6.0
/Demo/SignalRClient/Program.cs
/Demo/SourceGenerator/bin/Debug/netstandard2.0
/Demo/SignalRServer/MyHub.cs
/Demo/SpeachDemo/bin/Debug/net6.0-windows
/Demo/SourceGenerator/HelloSourceGenerator.cs
/Demo/TaskDemo/bin/Debug/net6.0
/Demo/TemplateDemo/bin/Debug/net6.0
/Demo/TrainDiagram/bin/Debug/net6.0-windows
/Demo/UpdateTest/bin/Debug/net6.0-windows
/Demo/WebView2Client/bin/Debug/net6.0-windows
/Demo/WorkflowDemo/bin/Debug/net6.0
/Demo/WpfApp1/bin/Debug/net6.0-windows
/Demo/WpfApp2/bin/Debug
/Demo/WpfApp3/bin/Debug/net6.0-windows
/Demo/WpfWorkflowDemo/bin/Debug/net6.0-windows
/Demo/Harmony/bin/Debug
/Demo/HarmonyDemo/bin/Debug/net6.0
/Demo/UtilityLibraries/bin/Debug/net6.0
/Tests/StringLibraryTests/StringLibraryTests/bin/Debug/net6.0
