################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Controltest/bin/Debug
/Controltest/obj/Debug
/.vs/HjmosControl
/WpfApp1/obj
/WpfApp2/obj
/HjmosControl/bin/Debug
/HjmosControl/obj/Debug
