<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="addressconfig" type="WpfApp3.AddressConfig,WpfApp3"/>
	</configSections>

	<addressconfig>
		<addresses>
					
		<!--开发环境 10.51.9.130:30768-->
		<!--测试环境 10.51.9.133:30768-->

		<!--线网指挥系统Restful地址-->
		<address key="NccRestfulUrl" value="" />

		<!--线网Gis地图的地址-->
		<address key="WireGisAddress" value="hjmos-tech-gis-web/" />

		<!--线网图的地址-->
		<address key="WireNetWorkAddress" value=":30768/hjmos-tech-gis-web/" />

		<!--车站客流热力图-->
		<address key="StationHeatMapAddress" value=":30768/hjmos-tech-gis-web/StationHeatMap"/>

		<!--车站应急指挥车站平面图-->
		<address key="StationECommandMap" value=":30768/hjmos-tech-gis-web/StationECommandMap"/>

		<!--工作管理的地址-->
		<address key="WorkManagerAddress" value=":30768/hjmos-emergency-command-web/dispatch-work/schedule-manage" />

		<!--预案管理的地址-->
		<address key="PlanManagerAddress" value=":30768/hjmos-emergency-command-web/emergency-plan/detail" />

		<!--视频源管理的地址-->
		<address key="VideoManagerAddress" value=":30768/hjmos-bussiness-mediacenter-web/resource-manage" />

		<!--视频巡检管理的地址-->
		<address key="VideoinspectionManagementAddress" value=":30768/hjmos-bussiness-mediacenter-web/video-patrol" />

		<!--资源管理的地址-->
		<address key="ResourceManagerAddress" value=":30768/hjmos-emergency-command-web/emergency-resource/contacts" />

		<!-- 车站平面图管理的地址 -->
		<address key="StationLayerManagerAddress" value=":30768/hjmos-basicdata-web/floorplan" />

		<!--综合监控的restful接口的服务地址-->
		<!--<address key="ISCSRestfulUrl" value="http://10.38.2.12:30666" />-->

		<!--WebSocket实时推送的服务地址-->
		<address key="WSRealTimePushAddress" value=":30768" />

		<!--MQ的服务地址-->
		<address key="MQAddress" value=":30076" />

		<!--线网态势视频监控设备的参数，默认为null，存在多个用逗号隔开例如：122222,1333333,444444-->
		<!--<address key="CctvEquipmentParameters" value="" />-->

		<!--全息感知-监测以下专业的设备告警信息-->
		<!--<address key="DeviceWarningMajor" value="PSCADA,WF,GDJC,ZNZM,ZNSS,DQHZ,UPS,EPS,ZNHK,ZNJD,FAS,PSD,FG,SIG,AFC,AJ,ACS,TAM,CLK,ZNWSJ,GD,CLYW" />-->

		<!--GIS车上3D模型-->
		<!--<address key="GISStation3DModel" value="http://172.23.20.209:8082/gis-station-model?stationCode=0120" />-->

		<!--全息感知可以点击的线路的集合，以线路的编号设置，多个用逗号隔开,默认显示18和22号线的线路支持点击 例：18,22-->
		<!--<address key="HoloceptionEnableLineNos" value="18,22" />-->

		<!--全息感知线路客流的图示链接-->
		<address key="HoloceptionLinePassengerFlowAddress" value=":30768/hjmos-tech-gis-web/LINEMap?lineNoId=" />
		<!--全息感知设备态势的图示链接-->
		<!--<address key ="DeviceManagerAddress" value="http://10.51.13.229:30768/hjmos-bussiness-device-web/device-manage" />-->

		<!-- 长沙6组态 socket 地址 -->
		<!--
		<address key="CS6DeviceAddress" value="ws://172.25.10.21:9000" />-->

		<!--<address key ="OfflineMode" value="false" />-->

		<!-- 开关站服务地址 -->
		<address key ="OpenCLoseStationAddress" value=":30112" />
		<!-- 开关站node-red服务地址 -->
		<address key ="OpenCLoseStationNodeRedAddress" value=":30188" />

		<!-- n8n 视频服务地址 -->
		<!--<address key="n8nVideoRestfulUrl" value="http://172.23.20.173:5678" />-->
		<!-- 客户端凭据 -->
		<!--<address key="ClientCredential" value="101:123456" />-->
		<!--预案流程WebSocket服务地址-->
		<address key="PlanWsAddress" value=":30112" />
		<!--即时通讯地址-->
		<address key="ChatBoxAddress" value=":30768/hjmos-tech-im-web/index/chatBox"/>

		<!--节能桌面端服务地址-->
		<address key="EscsAddress" value=":30768/hjmos-znjn-service" />

		<!--数据看板地址-->
		<address key="DataBoardAddress" value=":30768/hjmos-magic-api" />
		<!--数据看板本地地址-->
		<!--<address key="DataBoardAddress" value="http://172.35.130.129:8080/hjmos-magic-api-lhf" />-->

		<!-- 设备态势-设备3D接口前缀-->
		<address key="Device3DAddress" value=":30768/hjmos-tech-gis-web"/>
		<address key="UpgradeHost" value="mtC6N1Y94g16pF9VSzBWPqTZen9oxUE++sC99DwOYtmHycTEy7c0jr6gCSCSa/aN"/>
		<address key="UpgradeRemotePath" value="9daAK68p4DA4hGrJKvqnaHNOOMvV3gr6i2h1jGu5Kra3XEdvJcwTb+RzQStrMGzQtNBKb8nRuPqBHQmhp4dX3A=="/>
		<address key="UpgradeUsername" value="YAsqS/VzPtQrBw208eIHSzf1wogLnHDX+lxR4I6qAliv7ZlRC4LlYZYbCayTYPid"/>
		<address key="UpgradePassword" value="uWPaA3NsO0Vmm6gpBxs8lm/mlkKVuCmprhkfA5dmnzE="/>

		<address key="IsShowAlarm" value="false"/>

		<!--防汛作战图-->
		<address key="FloodFightMap" value=":30768/hjmos-tech-gis-web/StationFangXunMap"/>
		<!--风险部位高程图-->
		<address key="RiskPositionElevationMap" value=":30768/hjmos-emergency-command-web/flood-control/elevation/chart"/>
		<!--车站街区图-->
		<address key="StationStreetMap" value=":30768/hjmos-tech-gis-web/JiShuiJingMap"/>
		<!--车站排水图-->
		<address key="StationDrainageMap" value=":30768/hjmos-tech-gis-web/PaiShuiMap"/>
		<!--区间排水图-->
		<address key="SectionDrainageMap" value=":30768/hjmos-tech-gis-web/QuJianPaiShuiMap"/>

		<address key="TrainSchedule" value=":30768/hjmos-emergency-command-web/train-schedule"/>

		<address key="PatrolReport" value=":30768/hjmos-emergency-command-web/video-inspect/videoReport"/>
		<!--用户反馈-->
		<address key="UserFeedback" value=":30768/hjmos-feedback-web/user-feedback"/>
		<!--线路Od-->
		<address key="LineOd" value=":30768/hjmos-emergency-command-web/od/line"/>
		<!--车站Od-->
		<address key="StationOd" value=":30768/hjmos-emergency-command-web/od/station"/>
		<!-- Acs设备服务地址 -->
		<address key ="AcsDeviceAddress" value=":30303" />

		<address key="LineFangXunMap" value=":30768/hjmos-tech-gis-web/LineFangXunMap"/>

		<address key="EmergencyPlan" value=":30768/hjmos-emergency-command-web/plan-electronic"/>
		<!--线路psd-->
		<address key="LinePSD" value=":30768/aiops-analysis-web/hjmospage/"/>

		</addresses>
	</addressconfig>
</configuration>