<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--开发环境 10.51.9.130:30768-->
		<!--测试环境 10.51.9.133:30768-->

		<!--线网指挥系统Restful地址-->
		<add key="NccRestfulUrl" value="http://10.51.9.130:30768" />

		<!--线网Gis地图的地址-->
		<add key="WireGisAddress" value="http://10.51.9.130:30768/hjmos-tech-gis-web/" />

		<!--线网图的地址-->
		<add key="WireNetWorkAddress" value="http://10.51.9.130:30768/hjmos-tech-gis-web/" />

		<!--车站客流热力图-->
		<add key="StationHeatMapAddress" value="http://10.51.9.130:30768/hjmos-tech-gis-web/StationHeatMap"/>

		<!--车站应急指挥车站平面图-->
		<add key="StationECommandMap" value="http://10.51.9.130:30768/hjmos-tech-gis-web/StationECommandMap"/>

		<!--工作管理的地址-->
		<add key="WorkManagerAddress" value="http://10.51.9.130:30768/hjmos-emergency-command-web/dispatch-work/schedule-manage" />

		<!--预案管理的地址-->
		<add key="PlanManagerAddress" value="http://10.51.9.130:30768/hjmos-emergency-command-web/emergency-plan/detail" />

		<!--视频源管理的地址-->
		<add key="VideoManagerAddress" value="http://10.51.9.130:30768/hjmos-bussiness-mediacenter-web/resource-manage" />

		<!--视频巡检管理的地址-->
		<add key="VideoinspectionManagementAddress" value="http://10.51.9.130:30768/hjmos-bussiness-mediacenter-web/video-patrol" />

		<!--资源管理的地址-->
		<add key="ResourceManagerAddress" value="http://10.51.9.130:30768/hjmos-emergency-command-web/emergency-resource/contacts" />

		<!-- 车站平面图管理的地址 -->
		<add key="StationLayerManagerAddress" value="http://10.51.9.130:30768/hjmos-basicdata-web/floorplan" />

		<!--综合监控的restful接口的服务地址-->
		<add key="ISCSRestfulUrl" value="http://10.38.2.12:30666" />

		<!--WebSocket实时推送的服务地址-->
		<add key="WSRealTimePushAddress" value="ws://10.51.9.130:30768" />

		<!--MQ的服务地址-->
		<add key="MQAddress" value="http://10.51.9.130:30076" />

		<!--线网态势视频监控设备的参数，默认为null，存在多个用逗号隔开例如：122222,1333333,444444-->
		<add key="CctvEquipmentParameters" value="" />

		<!--全息感知-监测以下专业的设备告警信息-->
		<add key="DeviceWarningMajor" value="PSCADA,WF,GDJC,ZNZM,ZNSS,DQHZ,UPS,EPS,ZNHK,ZNJD,FAS,PSD,FG,SIG,AFC,AJ,ACS,TAM,CLK,ZNWSJ,GD,CLYW" />

		<!--GIS车上3D模型-->
		<add key="GISStation3DModel" value="http://172.23.20.209:8082/gis-station-model?stationCode=0120" />

		<!--全息感知可以点击的线路的集合，以线路的编号设置，多个用逗号隔开,默认显示18和22号线的线路支持点击 例：18,22-->
		<add key="HoloceptionEnableLineNos" value="18,22" />

		<!--全息感知线路客流的图示链接-->
		<add key="HoloceptionLinePassengerFlowAddress" value="http://10.51.9.130:30768/hjmos-tech-gis-web/LINEMap?lineNoId=" />
		<!--全息感知设备态势的图示链接-->
		<add key ="DeviceManagerAddress" value="http://10.51.13.229:30768/hjmos-bussiness-device-web/device-manage" />

		<!-- 长沙6组态 socket 地址 --><!--
		<add key="CS6DeviceAddress" value="ws://172.25.10.21:9000" />-->

		<add key ="OfflineMode" value="false" />

		<!-- 开关站服务地址 -->
		<add key ="OpenCLoseStationAddress" value="http://10.51.9.130:30112" />
		<!-- 开关站node-red服务地址 -->
		<add key ="OpenCLoseStationNodeRedAddress" value="http://10.51.9.130:30188" />

		<!-- n8n 视频服务地址 -->
		<!--<add key="n8nVideoRestfulUrl" value="http://172.23.20.173:5678" />-->
		<!-- 客户端凭据 -->
		<add key="ClientCredential" value="101:123456" />
		<!--预案流程WebSocket服务地址-->
		<add key="PlanWsAddress" value="ws://10.51.9.130:30112" />
		<!--即时通讯地址-->
		<add key="ChatBoxAddress" value="http://10.51.9.130:30768/hjmos-tech-im-web/index/chatBox"/>

		<!--节能桌面端服务地址-->
		<add key="EscsAddress" value="http://10.51.9.130:30768/hjmos-znjn-service" />
		
		<!--数据看板临时服务地址-->
		<add key="DataBoardAddress" value="http://10.51.9.130:30014/hjmos-magic-api" />
		
		<!-- 设备态势-设备3D接口前缀-->
		<add key="Device3DAddress" value="http://10.51.9.130:30768/hjmos-tech-gis-web"/>
		<add key="UpgradeHost" value="mtC6N1Y94g16pF9VSzBWPqTZen9oxUE++sC99DwOYtmHycTEy7c0jr6gCSCSa/aN"/>
		<add key="UpgradeRemotePath" value="9daAK68p4DA4hGrJKvqnaHNOOMvV3gr6i2h1jGu5Kra3XEdvJcwTb+RzQStrMGzQtNBKb8nRuPqBHQmhp4dX3A=="/>
		<add key="UpgradeUsername" value="YAsqS/VzPtQrBw208eIHSzf1wogLnHDX+lxR4I6qAliv7ZlRC4LlYZYbCayTYPid"/>
		<add key="UpgradePassword" value="uWPaA3NsO0Vmm6gpBxs8lm/mlkKVuCmprhkfA5dmnzE="/>

		<add key="IsShowAlarm" value="false"/>

    <!--防汛作战图-->
    <add key="FloodFightMap" value="http://10.51.9.130:30768/hjmos-tech-gis-web/StationFangXunMap"/>
    <!--风险部位高程图-->
    <add key="RiskPositionElevationMap" value="http://10.51.9.130:30768/hjmos-emergency-command-web/flood-control/elevation/chart"/>
    <!--车站街区图-->
    <add key="StationStreetMap" value="http://10.51.9.130:30768/hjmos-tech-gis-web/JiShuiJingMap"/>
    <!--车站排水图-->
    <add key="StationDrainageMap" value="http://10.51.9.130:30768/hjmos-tech-gis-web/PaiShuiMap"/>
		<!--区间排水图-->
    <add key="SectionDrainageMap" value="http://10.51.9.130:30768/hjmos-tech-gis-web/QuJianPaiShuiMap"/>
	</appSettings>
</configuration>